* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: rgb(92, 92, 92);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.calculator {
  width: 405px;
  height: 877px;
  background-color: black;
  border-radius: 50px;
  padding: 20px 20px;
  position: relative;
}

/* Status Bar */
.statusBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clock {
  margin: 0 10px;
  font-weight: 700;
}

.icons {
  width: 80px;
  height: auto;
  border-radius: 50px;
}

/* Display*/


.display {
  height: 300px;
  font-size: 100px;
  text-align: right;
  margin-bottom: 15px;
  color: white;
  background-color: black;
  border: none;
  padding-top: 200px;
  width: 100%;
  
  pointer-events:none
}


  

.display::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}



/* Buttons*/

.buttons-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.button {
  align-items: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 35px;
  height: 75px;
  justify-content: center;
  transition: filter 0.3s;
  width: 75px;
}

.button.function {
  color: black;
  background: #a5a5a5;
}

.button.operator {
  background: #ec9a2e;
}



.actived{
  color: #ec9a2e;
  background: white !important;
  filter: brightness(100%);
}


.button.number-0 {
  width: 170px;
  border-radius: 55px;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  padding-left: 33px;
}

.button:active,
.button:focus {
  filter: brightness(130%);
}

/*homeSwipe*/

.footer {
  position: absolute;
  width: 140px;
  height: 5px;
  background: white;
  border-radius: 5px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
